a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.contextual {
	background-color: lightgray;
	padding: 5px;
	box-sizing: border-box;
	font-size: 10pt;
	line-height: 30px;
}
.contextual nav {
	white-space: break-spaces;
	word-break: break-all;
}

.contextual nav > * {
	margin: 0 5px;
}
main > h1 {
	text-indent: 30px;
}

table {
	border-radius: 8px;
	display: inline-block;
	box-shadow: 0 15px 15px 5px rgb(192, 192, 192);
}

.fa.fa-star.checked {
	color: orange;
}
main {
	margin-top: 80px;
}
